<div class="my-orders">
    <h2>My Order Details</h2>
    <div class="row row-data">
        <div class="col-sm-2">
            <span>Orders</span>
        </div>
        <div class="col-sm-2">
            <span>Order Id</span>
        </div>
        <div class="col-sm-2">
            <span>Total Price</span>
        </div>
        <div class="col-sm-2">
            <span>Status</span>
        </div>
        <div class="col-sm-2">
            <span>Action</span>
        </div>
    </div>

    <div class="row order-data" *ngFor="let order of orderData">
        <div class="col-sm-2">
            <img src="https://www.clipartmax.com/png/middle/210-2106541_track-my-order-beach-volleyball.png" alt="Delivery">
        </div>
        <div class="col-sm-2">
            <span>#{{order.id}}</span>
        </div>
        <div class="col-sm-2">
            <span>{{order.totalPrice}}</span>
        </div>
        <div class="col-sm-2">
            <span>In Process</span>
        </div>
        <div class="col-sm-2">
            <button class="form-button" (click)="cancelOrder(order.id)">Cancel</button>
        </div>
    </div>
</div>